# Token and secrets
core/Tokens.py
# core/AI.py

# Pycache folders
__pycache__/
core/__pycache__/
kmkyar/__pycache__/
techstack/__pycache__/
interface/__pycache__/

# OS or editor files
*.log
*.swp
.DS_Store
.vscode/
.venv/

# User data files
*.pkl
*.json
*.xlsx

# Heartbeat file
mysite
mysite/heartbeat.txt

# Temporary Files
temp.py